<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-2">
        <div class="row">
            <p class="text-center fs-3 mt-2">All Orders</p>
            <hr>
            <a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Back</a>
            <th:block th:if="${session.successMsg}">
                <p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
                <th:block th:text="${@commomServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commomServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <div class="col-md-4 p-4">
                <form action="/admin/search_order" method="GET">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="orderId"
                                   placeholder="Search by Order Id">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12 ps-4 pe-4">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Delivery Details</th>
                        <th scope="col">Date</th>
                        <th scope="col">Product Details</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${srch}">
                        <th:block th:if="${orderDtls != null}">
                            <tr>
                                <th scope="row">[[${orderDtls.orderId}]]</th>

                                <td>
                                    Name: [[${orderDtls.orderAddress.firstName+' '+orderDtls.orderAddress.lastName}]]
                                    <br>
                                    Address: [[${orderDtls.orderAddress.address+', '+orderDtls.orderAddress.city+',
                                    '+orderDtls.orderAddress.state+', '+orderDtls.orderAddress.pincode}]] <br>
                                    Mobile: [[${orderDtls.orderAddress.mobileNumber}]] <br>
                                    Email: [[${orderDtls.orderAddress.email}]] <br>
                                </td>

                                <td>[[${orderDtls.orderDate}]]</td>
                                <td>[[${orderDtls.product.title}]]</td>
                                <td>Quantity: [[${orderDtls.quantity}]] <br>Price: [[${orderDtls.price}]] <br>Total
                                    Price:
                                    [[${orderDtls.quantity * orderDtls.price}]]
                                </td>
                                <td>[[${orderDtls.status}]]</td>
                                <td>
                                    <form action="/admin/update_order_status" method="POST">
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-control" name="st">
                                                    <option>--> Select <--</option>
                                                    <option value="1">In Progress</option>
                                                    <option value="2">Order Received</option>
                                                    <option value="3">Product Packed</option>
                                                    <option value="4">Out for Delivery</option>
                                                    <option value="5">Delivered</option>
                                                    <option value="6">Cancelled</option>
                                                </select>
                                            </div>
                                            <input th:value="${orderDtls.id}" name="id" type="hidden">
                                            <div class="col">
                                                <th:block
                                                        th:if="${orderDtls.status == 'Cancelled' || orderDtls.status != 'Delivered'}">
                                                    <button class="btn btn-primary btn-sm col ">Update</button>
                                                </th:block>
                                                <th:block
                                                        th:unless="${orderDtls.status == 'Cancelled' || orderDtls.status != 'Delivered'}">
                                                    <a href="#" class="btn btn-danger disabled">Cancel</a>
                                                </th:block>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${orderDtls != null}">
                            <p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${srch}">
                        <tr th:each="order:${orders}">
                            <th scope="row">[[${order.orderId}]]</th>

                            <td>
                                Name: [[${order.orderAddress.firstName+' '+order.orderAddress.lastName}]] <br>
                                Address: [[${order.orderAddress.address+', '+order.orderAddress.city+',
                                '+order.orderAddress.state+', '+order.orderAddress.pincode}]] <br>
                                Mobile: [[${order.orderAddress.mobileNumber}]] <br>
                                Email: [[${order.orderAddress.email}]] <br>
                            </td>

                            <td>[[${order.orderDate}]]</td>
                            <td>[[${order.product.title}]]</td>
                            <td>Quantity: [[${order.quantity}]] <br>Price: [[${order.price}]] <br>Total Price:
                                [[${order.quantity * order.price}]]
                            </td>
                            <td>[[${order.status}]]</td>
                            <td>
                                <form action="/admin/update_order_status" method="POST">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" name="st">
                                                <option>--> Select <--</option>
                                                <option value="1">In Progress</option>
                                                <option value="2">Order Received</option>
                                                <option value="3">Product Packed</option>
                                                <option value="4">Out for Delivery</option>
                                                <option value="5">Delivered</option>
                                                <option value="6">Cancelled</option>
                                            </select>
                                        </div>
                                        <input th:value="${order.id}" name="id" type="hidden">
                                        <div class="col">
                                            <th:block
                                                    th:if="${order.status == 'Cancelled' || order.status != 'Delivered'}">
                                                <button class="btn btn-primary btn-sm col ">Update</button>
                                            </th:block>
                                            <th:block
                                                    th:unless="${order.status == 'Cancelled' || order.status != 'Delivered'}">
                                                <a href="#" class="btn btn-danger disabled">Cancel</a>
                                            </th:block>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <th:block th:if="${!srch}">
                <div class="row">
                    <div class="col-md-4">Total Orders: [[${totalElements}]]</div>
                    <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${isFirst} ? 'disabled':''"
                                       th:href="@{'/admin/orders?pageNo=' + ${pageNo -1}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"
                                    th:classappend="${pageNo+1 == i} ? 'active':''">
                                    <a class="page-link"
                                       th:href="@{'/admin/orders?pageNo=' + ${i -1}}">[[${i}]]</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${isLast} ? 'disabled':''"
                                       th:href="@{'/admin/orders?pageNo=' + ${pageNo +1}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
</body>
</html>