<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="container mt-5 p-5">
    <form action="/user/saveOrder" method="POST">
      <div class="row">
        <div class="col-md-6 mt-2">
            <div class="mb-3 row">
              <p class="text-center fs-2">Billing Address</p>
              <hr>
              <div class="col p-1">
                <label>First Name</label>
                <input class="form-control mt-1" type="text" name="firstName" placeholder="First Name" required>
              </div>
              <div class="col p-1">
                <label>Last Name</label>
                <input class="form-control col mt-1" type="text" name="lastName" placeholder="Last Name" required>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col p-1">
                <label>Email</label>
                <input class="form-control col mt-1" type="email" name="email" placeholder="Email" required>
              </div>
              <div class="col p-1">
                <label>Mobile Number</label>
                <input class="form-control col mt-1" type="text" name="mobileNumber" placeholder="Mobile Number" required>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col p-1">
                <label>Address</label>
                <input class="form-control col mt-1" type="text" name="address" placeholder="Address" required>
              </div>
              <div class="col p-1">
                <label>City</label>
                <input class="form-control col mt-1" type="text" name="city" placeholder="City" required>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col p-1">
                <label>State</label>
                <input class="form-control col mt-1" type="text" name="state" placeholder="State" required>
              </div>
              <div class="col p-1">
                <label>Pin code</label>
                <input class="form-control col mt-1" type="text" name="pincode" placeholder="Pin code" required>
              </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
          <p class="text-center fs-2">Payment Type</p>
          <hr>
          <div class="card">
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>Total Price</td>
                    <td>:</td>
                    <td>&#36; 23525</td>
                  </tr>
                  <tr>
                    <td>Delivery Fee</td>
                    <td>:</td>
                    <td>&#36; 23</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td>:</td>
                    <td>&#36; 23525</td>
                  </tr>
                  <tr class="border-1">
                    <td>Total Price</td>
                    <td>:</td>
                    <td>&#36; 23525</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">
            <div class="card-body">
              <!--<form action="/login" method="POST"> -->
                <div class="mb-3">
                  <label class="form-label">Select Payment Type</label>
                  <select name="paymentType" required>
                    <option>---Select---</option>
                    <option value="COD">Cash on Delivery</option>
                    <option value="ONLINE">Online Payment</option>
                  </select>
                </div>
                <button type="submit" class="btn bg-primary text-white col-md-12">Place Order</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
</body>
</html>